.Product {
    width: 300px;
    padding: 1rem;
    background: rgba(255, 253, 253, 0.164);
    box-shadow: 1px 1px 15px rgba(54, 52, 52, 0);
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 10px;

}



.Product>img {
    height: 170px;
    border-radius: 10px;
}

.product__info>p {
    margin-bottom: 8px;
    color: white;

}

.info__price {
    font-weight: bold;
    display: block;
    text-align: center;


}


.info__name {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    overflow: hidden;
    font-weight: bold;
    color: rgb(115, 221, 189);
}


.info__description {
    font-size: 0.8rem;
    display: block;
    text-align: center;

}


.info__button {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: black;
    background: rgb(175, 175, 180);
    padding: 8px 16px;
    border: solid 1px black;
    font-size: 1rem;

}

.info__button:hover {
    background: #7393dd;
    color: white;
}




@media(max-width:1232px) {
    .Product {
        width: 360px;
    }
}


@media(max-width:1115px) {
    .Product {
        width: 330px;
    }
}


@media(max-width:1028px) {
    .Product {
        width: 300px;
    }


}

@media(max-width:950px) {
    .Product {
        width: 400px;

    }
}

@media(max-width:830px) {
    .Product {
        width: 330px;

    }
}

@media(max-width:700px) {
    .Product {
        width: 330px;

    }

}
@media(max-width:630px) {
    .Product {
        width: 450px;

    }

}
@media(max-width:500px) {
    .Product {
        width: 350px;

    }

}
@media(max-width:400px) {
    .Product {
        width: 300px;

    }

}

