.productscreen {
    max-width: 1300px;
    margin: 1rem auto;
    display: flex;
    background: rgb(49 49 49);
    position: relative;
}


.productscreen__left {
    display: flex;
    flex: 0.8;
}


.left_image {
    margin: 1rem;
    flex: 0.6;
}


.left__info {
    margin: 1rem;
    flex: 0.4;
    background: white;
    height: fit-content;
    font-size: 1rem;
}


.left__name {
    font-weight: bold;
    font-size: 1.3rem;
}

.left__info>p,
.right__info>p {
    padding: 1rem;
    border-bottom: 1px solid rgb(243, 239, 239);
}

.left__info>p:last-child,
.right__info>p:last-child {
    border: none;
}


.productscreen__right {
    flex: 0.2;
}

.right__info {
    background: white;
    width: 250px;
    margin: 1rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}



.right__info p {
    padding: 1rem;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.right__info p>button {
    grid-column: 1/-1;
    padding: 10px 16px;
    color: white;
    background: black;
    border: 1px solid black;
    cursor: pointer;

}

.right__info p>button:hover {
    color: black;
    background-color: white;


}


.right__info select {
    padding: 10px 16px;
}



.main-circle {
    display: flex;
    width: 220px;
    height: 220px;
    background-color: transparent;
    border-radius: 50%;
    background: rgb(49 49 49);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);

}

.main-circle .second-circle {
    width: 150px;
    height: 150px;
    background-color: transparent;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
}

.two-circle {
    display: flex;
    justify-content: space-between;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    opacity: 0.8;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes big {
    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}

.big {
    animation-name: big;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}

#circle-1 {
    top: 10px;
}

#circle-2 {
    animation-delay: 1s;
}

#circle-3 {
    animation-delay: 2s;
}



@media(max-width:960px) {
    .productscreen {
        flex-direction: column;
    }

    .productscreen__left {
        flex-direction: column;
        flex: 1;
    }

    .left__image {
        flex: 1;
    }

    .left__info {
        flex: 1;
    }

    .productscreen__right {
        flex: 1;
        padding: 1rem;
    }

    .right__info {
        width: 100%;
        margin: 0;
    }
}